{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}

<!-- <h1 style="text-align:center;font-size: 100px;">Welcome {{ request.user.username }}</h1> -->
<h1 style="text-align:center;font-size: 100px;">Welcome</h1>
<h2 style="text-align:center;font-size: 60px;">{{ request.user.username }}</h2>

<br>
<br>
<br>
<br>
<div class="cyber">
    <img src="static/images/cybersecurity.jpg" height="300" width="400" alt="">
</div>


<h1 style="text-align:center;">Auth status: {{request.user.is_authenticated}}</h1>

<br>
<br>
<h3 style="text-align: center;">You Have To Select Sequence Of The Boxes During Registration And Remember The Sequence During Login. </h3>
<p style="text-align:center;">
    <!-- Depending on the Auth status, you will be seeing login/logout button at the top right. -->
    <br>
    <br>
    <a href="{% url 'login' %}" style="text-align:justify;">Login</a>
    : &nbspTo continue login
    <br>
    <a href="{% url 'logout' %}">Logout</a>
    : To sign out of the application
</p>
{% endblock %}